@font-face { 
    font-family: 'NanumSquareRound'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
body {
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 13px;
}
#header .logo {
    display: block;
    text-align: center;
}
#header .logo img {
    height: 200px;
    width: auto;
}

.container {
    height: 100%;
    background-color: white;
    position: relative;
}
.container .url-box{
    height: 100px;
    width: 100%;
    border-top: .5px solid #e2e2e2;
    display: flex;
}

/* 사이트 로고 부분 */
.url-box .site-logo {
    width: 20%;
    padding: 1em;
}
.url-box .site-logo .logobox {
    /* border: .5px solid #e2e2e2;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    padding: 25%; */
    border: .5px solid #e2e2e2;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    padding: 20px;
}
.url-box .site-logo .logobox img {
    width: 100%;
}

/* 사이트 설명 부분 */
.url-box .site-description {
    width: 60%;
    padding: 1em;
}

.url-box .site-description .sitename{
  font-size: 17px;
  color: black;
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

.url-box .site-description .sitedes{
  color: black;
  display: block;
  margin: 3px 0;
}

/* 사이트 예약 온오프 부분 */

.url-box .site-onoff {
  width: 20%;
  padding: 1em;
  display: grid;
  align-items: center;
  grid-template-rows: 35% 65%;
  position: absolute;
  right: -5px;
}

.url-box .site-onoff .edit-cancel {
  position: absolute;
  top: 20px;
  right: 15px;
}
.url-box .site-onoff .onoff-btn {
  position: absolute;
  top: 50px;
  right: 85px;
}

.url-box .site-onoff .edit-cancel .edit {
    height: 2.2em;
    width: 2.2em;
    background-image: url("img/edit.svg");
    background-repeat: no-repeat;
    background-position: 43%;
    background-size: 80%;
    border: none;
    margin: 0 4px;
}

.url-box .site-onoff .edit-cancel .cancel {
    background-image: url("img/cancel.svg");
    height: 2.2em;
    width: 2.2em;
    background-repeat: no-repeat;
    background-position: 43%;
    background-size: 70%;
    border: none;
    margin: 0 4px;
}






.url-plus-btn {
    text-align: center;
}

.url-plus-btn .menu-button .show-btn {
    display: none;
}

.url-plus-btn .menu-button input[type=checkbox]{
    display: none;
}

.url-plus-btn .menu-button input[type=checkbox]:checked + .show-btn{
    display: flex;
    justify-content: center;
    transition-duration: .3s;
}

.url-plus-btn .menu-button label{
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #00e6b9;
    color: #fff;
    font-size: 3em;
    box-shadow: 0 0.15rem 0.4rem rgba(0,0,0,.2);
    cursor: pointer;
    z-index: 99;
    transition-duration: .3s;
}

/* .url-plus-btn .menu-button label */
/* .url-plus-btn .menu-button label:hover, */
.url-plus-btn .menu-button label:hover{
    background-color: #00c19c;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2);
    color: rgba(255, 255, 255, 0.674);
    transition-duration: .3s;
    transform: rotate(45deg);
}


.url-plus-btn .menu-button .show-btn a {
    transition-duration: 1s;
    display: block;
    margin: 1em;
    text-decoration: none;
    width: 200px;
    height: 55px;
    color: #fff;
    text-align: center;
    font-size: 1.7em;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 0 0.15rem 0.4rem rgba(0,0,0,.2);
    cursor: pointer;
    background: #00c19c;
}

.url-plus-btn .menu-button .show-btn a:hover {
    transition-duration: .3s;
    background: rgb(255, 211, 100);
}




.site-onoff .onoff-btn input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.site-onoff .onoff-btn label {
  display: block;
  position: absolute;
  width: 75px;
  height: 34px;
  border-radius: 17px;
  background-color: #ddd;
  transition-duration: 0.2s;
}

.site-onoff .onoff-btn label span {
  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 1;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  transition-duration: 0.2s;
}

.site-onoff .onoff-btn label:before,
.site-onoff .onoff-btn label:after{
  position: absolute;
  top: 0;
  width: 34px;
  font-size: 12px;
  line-height: 34px;
  color: #fff;
  text-align: center;
}

.site-onoff .onoff-btn label:before {
  left: 2px;
  content: 'ON';
}

.site-onoff .onoff-btn label:after {
  right: 4px;
  content: 'OFF';
}

.site-onoff .onoff-btn input:checked + label {
  background-color: #00e6b9;
}

.site-onoff .onoff-btn input:checked + label span {
  /* left: 29px; */
  transform: translateX(36px);
}




































